<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="keywords" content=" react training">
    <meta name="description" content=" react training ">
    <meta content="telephone=no" name="format-detection">
    <meta content="address=no" name="format-detection">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <script type="text/javascript">
        var phoneWidth = parseInt(window.screen.width);
        var phoneScale = phoneWidth / 640;
        var ua = navigator.userAgent;
        if (/Android (\d+\.\d+)/.test(ua)) {
            var version = parseFloat(RegExp.$1);
            if (version > 2.3) {
                document
                    .write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
            } else {
                document
                    .write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
            }
        } else {
            document
                .write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
        }
    </script>
    <style type='text/css'>
        body {
            /* background: url('/bg.png') no-repeat center bottom fixed;
            background-size: 100%; */
            background-color: #fdfdfd
        }

        nav {
            /* width: 100%; */
            display: flex;
            flex-direction: row;
            border-bottom: #ececec solid 1.5vh;
            padding: 2vh 4vh;
            justify-content: space-between;
        }

        nav .flex {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        nav .left {
            color: #666666;
            font-size: 5vw;
        }

        nav .left img {
            width: 5vw;
            height: 5vw;
        }

        nav .left span {
            padding-left: 20px;
        }

        nav .right a {
            padding-right: 20px;
            text-decoration: none;
            color: #8e8e8e;
            font-size: 4vw;
        }

        section {
            display: flex;
            /* align-items: center; */
            flex-direction: column;
        }

        section audio{
            width: 80vw;
        }

        section h1 {
            margin-left: 6vw;
            font-size: 5vw;
            color: #505050;
            font-weight: normal;
        }

        section .audio {
            display: flex;
            flex-direction: column;
            width: 78%;
            margin: 0 auto;
            border: #b2b2b2 solid 1px;
            padding: 3vh 5vw;
            background: #f7f7f7
        }

        section .audio .person {
            display: flex;
            flex-direction: column;
        }

        section .audio .person .intro {
            font-size: 4vw;
            color: #666666;
        }

        section .audio .person .name {
            font-size: 2.5vw;
            color: #666666;
            margin-top: 0.5vh;
        }

        section .chapterContent {
            flex-direction: column;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            margin: 0 8vw;
			text-align:justify; 
        }

        section .chapterContent h2 {
            font-weight: normal;
            font-size: 4vw;
            color: #9b9b9b;
            width: 20vw;
        }

        section .chapterContent span {
            font-size: 4vw;
			line-height: 8vw;
        }

        section .chapterContent .daodu{
            width: 8vw;
            height: 8vw;
            background: #165299;
            border-radius: 50px;
            text-align: center;
            color: white;
            margin-top: 2vh;
            z-index: 999
        }

        section .chapterContent .readBg{
            position: absolute;
            
        }

        section .empty {
            height: 20vh;
            width: 100%;
        }

        section .bold {
            font-weight: bold;
        }

        section .record {
            display: flex;
            margin-top: 5vh;
            justify-content: center;
            width: 100%
        }

        section .record img {
            width: 35vw;
            height: 10vh;
        }

        footer {
            position: fixed;
            bottom: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1.5vh 0;
            /* justify-content: space-between; */
            background-color: #e5e5e5;
            width: 100%;
        }

        footer .bottom {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            text-decoration: none;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        footer .bottom img {
            margin-bottom: 0.5vh;
            width: 5vw;
        }

        footer .bottom span {
            color: #666666;
            font-size: 3vw;
        }
    </style>
    <!-- The Fonts -->
    <!--<link href="http://fonts.useso.com/css?family=Oswald|Droid+Sans:400,700" rel="stylesheet">-->
    <!-- The Main CSS File -->
    <!--<link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/button.css">-->
</head>

<body style="margin:0; flex:1">
    <nav>
        <div class="flex left">
            <img src="/images/daohang.png" alt="">
            <span style="font-size: 4vw;" id='readFlag' class="<%=readFlag %>">丹纳赫《创新者的基因》</span>
        </div>
        <div class="flex right">
        </div>
    </nav>
    <div id="root">
       <div id="root">
        <section>
        <%-content%>
                    <div class="record">
                        <img src="/images/record.png" alt="" />
                    </div>
                    <div class="empty"></div>
        </section>
    </div>
    <footer>
        <a href="/read" class="bottom">
            <img src="/images/home.png" alt="">
            <span>今日阅读</span>
        </a>
        <a href="/plan" class="bottom">
            <img src="/images/planNormal.png" alt="">
            <span>计划</span>
        </a>
        <a href="/myAccount" class="bottom">
            <img src="/images/accountNormal.png" alt="">
            <span>我的</span>
        </a>
    </footer>
</body>

<script src="/javascripts/jquery-3.0.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.record').click(function (e) {
            let day = $('.flaggg').html();
            let readFlag = $('#readFlag')[0].className;
            // debugger
            $.ajax({
                type: 'get',
                url: '/api/readCourse',
                data: { day: day.replace('DAY', '').trim(), readFlag },
                dataType: 'json',
                success: function (res) {
                    console.log('res', res)
                    if (res && res.status) {
                        if (res.status === 'redirect') {
                            location.href = res.redirectUrl
                        }
                        else if (res.status === 'success') {
                            alert('签到成功');
                            setTimeout(() => {
                                location.href = '/read'
                            }, 2000);
                        }
                    }
                }
            })
        })
    })
</script>

</html>