@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
   
	}
img{border:0px }
a:focus{outline:none;}
body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3","微软雅黑", Arial, sans-serif;
font-size: 14px;
font-weight: 400;
font-style: normal;
margin: 0;
padding: 0;
color: #333;
}
ul,li{list-style:none;}
.clear{clear:both}
a{text-decoration:none;}


/*首页*/
.head{
	width:1200px;
	margin:0 auto;
	height:30px;
	line-height:30px;
	color:#898989;
	overflow:hidden;
	
	}
	
.head a{
	color:#898989;}

.welcome{
	float:left;}
	
.lx{
	float:right;}
	
.phone{
	float:left;}
	

	
.wl{
	float:left;
	margin-left:20px;}
	
.wl a{
	margin:0 10px;
	}
	
.logo_menu{
	background:#181b1e;
	overflow:hidden;
	height:80px;
	}
	
.w1200{
	width:1200px;
	margin:0 auto;}
	
.logo{
	float:left;
	padding:25px 0;}
	
.menu{
	float:right;
	
	height:80px;

}
	
.banner{
	width:100%;
	overflow:hidden;
	text-align:center;
	}
	
.menu ul li{
   
	padding:27px 0;
	float:left;
	font-size:16px;
	margin:0 10px;
	}
	
.menu ul li a{
	color:#fff;
	}
	
.menu ul li:hover{
	
	}
	
.menu ul li.on{
	border-bottom:4px solid #f44336}
	
.kpt{
	margin:45px auto;
	overflow:hidden}
	
.txt{
	text-align:center;
	margin:0 0 40px 0;}
	

	
.txt h2{
	font-size:24px;
	font-weight:normal}
	
.txt p{
	font-size:12px;
	color:#666;
	line-height:36px;}
	
.kpt ul{
	overflow:hidden}
	
.kpt ul li{
	width:250px;
	text-align:center;
	float:left;
	margin:0 25px;
	overflow:hidden}
	
.kpt ul li h4{
	font-size:16px;
	font-weight:normal;
	margin:20px 0;}
	
.kpt ul li p{
	font-size:12px;
	color:#777;
	line-height:24px;
	margin:20px 0;}
	
.more{
	width:194px;
	height:45px;
	line-height:45px;
	background:#d73e33;
	margin:30px auto;
	color:#fff;
	text-align:center;
	font-size:14px;
	cursor:pointer}
	
.tpt{
	background:url(../images/gd.jpg) no-repeat center center;
	padding:45px 0;
	overflow:hidden;
	background-size:100% 100%;
	}
	
.txt1{
	text-align:center;
	margin:0 0 40px 0;}
	

	
.txt1 h2{
	font-size:24px;
	font-weight:normal;
	color:#fff;}
	
.txt1 p{
	font-size:12px;
	color:#fff;
	line-height:36px;}
	
.tpt{
	color:#fff;}
	
.tpt ul{
	overflow:hidden}
	
.tpt ul li{
	width:380px;
	float:left;
	margin:15px 10px;}
	
.tpt_pic{
	float:left;
	width:44px}
	
.wz{
	margin-left:20px;
	float:left;
	width:303px;}
	
.wz h4{
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px;}
	
.wz p{
	font-size:14px;
	line-height:24px;
	color:#bdbdbd;}
	
.app{
	background:url(../images/bb.jpg) no-repeat;
	background-size:100% 100%;
	overflow:hidden}
	
.sj{
	float:left;
	margin-top:85px;}

.appjs{
	float:left;
	margin-top:130px;
	margin-left:100px;}
	
.appjs p{
	font-size:24px;
	line-height:36px;
	color:#777;
	margin:50px 0;}
	
.anniu{
	margin:100px 0;}
	
.new{
	background:url(../images/xw.jpg) no-repeat center center;
	padding:50px 0;
	overflow:hidden;
	background-size:100% 100%;
	}
	
.new ul{
	width:585px;
	float:left;
	}
	
.new_bt{
	border-bottom:1px solid #eeeeee;
	overflow:hidden;
	padding:15px 0;
	}
	
.new_btwz{
	font-size:24px;
	color:#d73e33;
	float:left}
	
.new_btwz i{
	position:relative;
	top:5px;
	margin-right:15px;}
	
.new_more{
	font-size:12px;
	color:#ccc;
	float:right;
	padding:15px 0;}
	
.new_wz{
	overflow:hidden}
	
.tit{
	float:left;}
	
.time{
	float:right;}
	
.new ul li{
	margin:30px 0;
	height:100px;}
	
.tit{
	font-size:18px;
	color:#fff;}
	
.time{
	color:#ccc;
	padding:3px 0;}
	
.new ul li p{
	color:#ccc;
	line-height:24px;
	margin:10px 0;}
	
.foot{
	background:url(../images/foot.jpg) no-repeat;
	background-size:100% 100%;
	padding:50px 0 30px 0;
	overflow:hidden}
	
.foot_logo{
	float:left;}
	
.foot_time{
	float:left;
	margin-left:85px;}
	
.foot_add{
	color:#a6a6a6;
	float:left;
	margin-left:75px;}
	
.foot_add ul li{
	padding:5px 0;
	border-bottom:1px solid #a6a6a6;}
	
.foot_add ul li i{
	position:relative;
	top:3px;
	margin-right:10px;}
	
.foot_ewm{
	color:#fff;
	float:right;}
	
.foot_ewm ul li{
	float:left;
	margin:0 40px;}
	
.foot_ewm ul li p{
	margin:10px 0;}
	
.Copyright{
	background:#1a1c1c;
	text-align:center;
	color:#fff;
	padding:10px 0;}
	
.menu ul li ul{
	display:none;}
	
.menu ul { 
padding:0; 
margin:0; 
list-style-type: none; 
positon:relative;
} 
/* float the list so that the items are in a line and their position relative so that the drop down list will appear in the right place underneath each list item */ 

/* style the links to be 104px wide by 30px high with a top and right border 1px solid white. Set the background color and the font size. */ 
.menu ul li a, .menu ul li a:visited { 
display:block; 
text-align:center; 
text-decoration:none; 
positon:relative;
-moz-transition: .5s ease-in;
	-webkit-transition:  .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in;
} 
/* make the dropdown ul invisible */ 

/* specific to non IE browsers */ 
/* set the background and foreground color of the main menu li on hover */ 
.menu ul li:hover a { 
color:#fff; 

} 
/* make the sub menu ul visible and position it beneath the main menu list item */ 
.menu ul li:hover ul { 
display:block; 
position:absolute; 
top:100px;
margin-left:-30px;
width:150px; 
z-index:999;
float:none;

} 
/* style the background and foreground color of the submenu links */ 
.menu ul li:hover ul li { 
display:block; 
background:rgba(0,0,0,.5); 
color:#fff; 
z-index:999;
padding:10px  20px;


} 
/* style the background and forground colors of the links on hover */ 
.menu ul li:hover ul li:hover { 
background:rgba(0,0,0,.8); 
color:#f44336; 
border:none;
-moz-transition: .5s ease-in;
	-webkit-transition:  .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in;
}  

.menu ul li:hover a ul li:hover a{
	color:#333;}
	
.mt1{
	background:#f4f4f4;
	padding:45px 0;
	overflow:hidden;
	}
	
.mt1_1{
	position:relative;}
	
.mt1_pic{
	float:left;}
	
.mt1_wz{
	float:right;
	width:427px;
	font-size:30px;
	padding:80px 0;
	margin-right:88px;}
	
.mt1 i{
	position:absolute;
	right:30px;
	top:60px;}
	
.mt2{
	padding:45px 0;
	overflow:hidden;
	position:relative}
	
.mt2_wz{
	width:380px;
	float:left;
	font-size:30px;
	margin:150px 100px;}
	
.mt2 i{
	position:absolute;
	left:0;
	top:100px;}

.appmain{
	background:url(../images/appbg.jpg) no-repeat;
	background-size:100% 100%;
	padding:80px 0;
	overflow:hidden}
	
.app_menu{
	float:left;}
	
.app_menu ul{
	}
	
.app_menu ul li{
	width:200px;
	height:34px;
	line-height:34px;
	text-align:center;
	background:#fff;
	margin-bottom:25px;
	border-radius:5px;
	margin-left:50px;
	margin-right:50px;
	cursor:pointer;
	color:#d73e33;
	}
	
.app_menu ul li a{
	color:#d73e33}
	
.app_menu ul li:hover{
	background:#d73e33;}
	
.app_menu ul li:hover {
	color:#fff;}
	
.app_pic{
	float:left;
	margin:0 100px;
	width:410px;
	text-align:center;
	background:url(./images/pic1.png);
	}

.ty{
	float:left;}
	
.wm{
	text-align:center;
	margin:20px 0;}
	
.wm img{
	border:5px solid rgba(255,255,255,.5)}
	
.wm p{
	font-size:18px;
	color:#fff;
	margin:10px 0;}
	
.app_menu ul li.on{
	background:#d73e33;
	color:#fff;
	}

.app_menu ul li.on a{
	color:#fff;}
	
.mb{
	padding:45px 0;
	overflow:hidden}
	
.mb_bt{
	text-align:center;}
	
.mb ul{
	overflow:hidden}
	
.mb_bt{

	padding:15px 0;}


.mb ul li{
	width:380px;
	float:left;
	margin:0 10px;}
	
.mb ul li:hover .mb_bt{
	}
	
.mb_bt h2{
	font-size:24px;
	font-weight:normal;
	color:#57201d}
	
.mb_bt p{
	color:#825f5d;
	margin:5px 0;}
	
.an{
	width:132px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#d73e33;
	margin:10px auto;
	color:#fff;
	border-radius:5px;
	cursor:pointer}
	
	
.xt{
	background:#f0f0f1;
	padding:50px 0;
	overflow:hidden}
	
.x1{
	width:60px;
	height:60px;
	background:url(../images/x1.png) no-repeat;
	margin:0 auto}
	
.x2{
	width:60px;
	height:60px;
	background:url(../images/x2.png) no-repeat;
	margin:0 auto}
	
.x3{
	width:60px;
	height:60px;
	background:url(../images/x3.png) no-repeat;
	margin:0 auto}
	
.x4{
	width:60px;
	height:60px;
	background:url(../images/x4.png) no-repeat;
	margin:0 auto}
	
.x5{
	width:60px;
	height:60px;
	background:url(../images/x5.png) no-repeat;
	margin:0 auto}

.x6{
	width:60px;
	height:60px;
	background:url(../images/x6.png) no-repeat;
	margin:0 auto}
	
.x7{
	width:60px;
	height:60px;
	background:url(../images/x7.png) no-repeat;
	margin:0 auto}
	
.x8{
	width:60px;
	height:60px;
	background:url(../images/x8.png) no-repeat;
	margin:0 auto}
	
.x9{
	width:60px;
	height:60px;
	background:url(../images/x9.png) no-repeat;
	margin:0 auto}
	
.x10{
	width:60px;
	height:60px;
	background:url(../images/x10.png) no-repeat;
	margin:0 auto}
	
.x11{
	width:60px;
	height:60px;
	background:url(../images/x110.png) no-repeat;
	margin:0 auto}
	
.x12{
	width:60px;
	height:60px;
	background:url(../images/x111.png) no-repeat;
	margin:0 auto}
	
.xt ul li{
	width:238px;
	height:187px;
	background:#fff;
	border:1px solid #424a51;
	float:left;
	text-align:center;
	padding:30px 20px;
	margin:10px;
	transition: transform 2s;
            -moz-transition: -moz-transform 2s;
            -webkit-transition: -webkit-transform 2s;
            -o-transition: -o-transform 2s;}
	
.xt ul li:hover{
	background:#d73e33;
	color:#fff;
	border:1px solid #d73e33;
	transform:scale(1.2,1.2);
            -ms-transform:scale(1.1,1.1); /* IE 9 */
            -moz-transform:scale(1.1,1.1); /* Firefox */
            -webkit-transform:scale(1.1,1.1); /* Safari and Chrome */
            -o-transform:scale(1.1,1.1); /* Opera */
			
	transition: transform 2s;
            -moz-transition: -moz-transform 2s;
            -webkit-transition: -webkit-transform 2s;
            -o-transition: -o-transform 2s;}
	
.xt ul li:hover p{
	color:#fff;}
	
.xt ul li:hover .x1{
	background:url(../images/x11.png) no-repeat;}
	
.xt ul li:hover .x2{
	background:url(../images/x22.png) no-repeat;}
	
.xt ul li:hover .x3{
	background:url(../images/x33.png) no-repeat;}
	
.xt ul li:hover .x4{
	background:url(../images/x44.png) no-repeat;}
	
.xt ul li:hover .x5{
	background:url(../images/x55.png) no-repeat;}
	
.xt ul li:hover .x6{
	background:url(../images/x66.png) no-repeat;}
	
.xt ul li:hover .x7{
	background:url(../images/x77.png) no-repeat;}
	
.xt ul li:hover .x8{
	background:url(../images/x88.png) no-repeat;}
	
.xt ul li:hover .x9{
	background:url(../images/x99.png) no-repeat;}
	
.xt ul li:hover .x10{
	background:url(../images/x100.png) no-repeat;}
	
.xt ul li:hover .x11{
	background:url(../images/x1001.png) no-repeat;}
	
.xt ul li:hover .x12{
	background:url(../images/x1111.png) no-repeat;}
	

	

	
.xt ul li h2{
	font-size:18px;
	margin:15px 0;
	font-weight:normal}
	
.xt ul li p{
	font-size:14px;
	color:#424a51;
	line-height:24px;}
	
.al{
	width:100%;
	overflow:hidden;
	text-align:center;
	}
	
.tpt1 ul li h4{
	color:#333743}
	
.tpt1 ul li p{
	color:#9297a3;}
	
.main{
	width:1350px;
	box-shadow:0 0 10px #ccc;
	padding:30px;
	background:#fff;
	margin:15px auto;}
	
.main h4 {
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.main a {
    color: #777;
    margin: 0 15px;
}

.main h4 i {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.main ul li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px dashed #eee;
}

.new_right {
    color: #666;
    width: 1100px;
    overflow: hidden;
}

.tt {
    overflow: hidden;
    padding-bottom: 15px;
}

.bt2 {
    font-size: 18px;
    font-weight: normal;
    float: left;
    width: 500px;
    color: #333;
	float:left;
}

.riqi {
    margin-left: 240px;
    font-size: 12px;
    float: right;
    color: #ccc;
}

.new_right p {
    padding: 10px 0;
    font-size: 14px;
    line-height: 24px;
}

.wenzhang {
    padding: 25px;
}

.wenzhang h2 {
    font-size: 24px;
    font-weight: normal;
	text-align:center
}

.fu {
    text-align: center;
    font-size: 14px;
    color: #777;
    padding: 20px 0;
}


.tupianji {
    width: 1150px;
    margin: 15px auto;
    overflow: hidden;
}

.lianxi1 {
    padding: 30px;
    overflow: hidden;
}

.lianxi2 {
    margin-top: 35px;
}

.lianxi_left {
    float: left;
    width: 275px;
}

.lianxi_left i {
    margin-right: 15px;
    position: relative;
    top: 2px;
}

.lianxi_left span {
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
}

.lianxi_middle {
    float: left;
    width: 355px;
}

.lianxi_middle i {
    margin-right: 15px;
    position: relative;
    top: 2px;
}

.lianxi_middle span {
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
}

.lianxi_right {
    float: left;
    width: 455px;
}

.lianxi_right i {
    margin-right: 15px;
    position: relative;
    top: 2px;
}

.lianxi_right span {
    font-size: 14px;
    line-height: 35px;
    font-weight: bold;
}

.ditu1 {
    margin: 30px auto;
    width: 955px;
}